<h1>Login</h1>

<%= @msg %>

<a href="/home/register">Register</a>

<form action='/home/login' method="post">

<input type="text" name="username" placeholder="username"><br>
<input type="password" name="password" placeholder="password"><br>
<button>Login!</button>

</form>