<form action='/home/register' method="post">

<input type="text" name="username" placeholder="username"><br>
<input type="password" name="password" placeholder="password"><br>
<button>Register!</button>

</form>